{% load staticfiles %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Fysistencia</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{% static 'css/images/ICONO_APP.png' %}" type="image/png">
	<!-- Latest compiled and minified CSS -->
	
	<link type="text/css" rel="stylesheet" href="{% static 'css/ultimaapp.css' %}"/>
	

	<script type="text/javascript">
	function iniciarpartida(_valor){
		document.getElementById("backgroundVentana").style.visibility=_valor;
	}
	function unirse(_valor){
		document.getElementById("backgroundVentana2").style.visibility=_valor;
	}
	function info(_valor){
		document.getElementById("backgroundVentana3").style.visibility=_valor;
	}
	</script>
	
</head>

<body class="fondo">

<div class="row">
	<div class="col-xs-4">
		<a class="btn btn-default" type="button" href="#" style="padding-top:10px;padding-left:10px;">
		<img src="{% static 'css/images/AJUSTES.png' %}" width="50" height="50">
		</a><br>
		<a class="btn btn-default" type="button"  href="javascript:info('visible');" style="padding-top:10px;padding-left:10px;">
		<img src="{% static 'css/images/INFO.png' %}" width="50" height="50">
		</a>
		
	</div>
  	<div class="col-xs-8">
  	<center><br><br><br>
	  		<a class="btn btn-default" type="button" href="javascript:iniciarpartida('visible');"><img src="{% static 'css/images/INICIAR_PARTIDA.png' %}" width="200" height="110"></a>
	  		<br>
	  		<a class="btn btn-default" type="button"  href="javascript:unirse('visible');"><img src="{% static 'css/images/UNIRSE.png' %}" width="200" height="110"></a>
	  		<div id="backgroundVentana">
				
				<div id= "ventana">
					<a href="javascript: iniciarpartida('hidden');"><img src="{% static 'css/images/CERRAR.png' %}" alt="" class="Exit img-responsive" width="50" height="50"></a>
					

					<div id="formulario">
						<input type="text" class="img-responsive form-control" width="100"  placeholder="Introduce tu Nick">
						
					</div>
					<div id="siguiente">
						<a class="btn btn-default pin" type="button" href="#"><img src="{% static 'css/images/GENERAR_PIN.png' %}" class="img-responsive" width="170" height="80"></a>
					</div>	


				</div>
			</div>
			<div id="backgroundVentana2">
				
				<div id= "ventana2">
					<a href="javascript: unirse('hidden');"><img src="{% static 'css/images/CERRAR.png' %}" alt="" class="Exit img-responsive" width="50" height="50"></a>
					<div id="formulario">
						<input type="password" class="img-responsive form-control" width="100" placeholder="Introduce el PIN">
	
					</div>
					<div id="siguiente">
						<a class="btn btn-default pin" type="button" href="#"><img src="{% static 'css/images/INGRESAR.png' %}" class="img-responsive" width="170" height="80"></a>
					</div>	


				</div>
			</div>
			<div id="backgroundVentana3">
				
				<div id= "ventana3">
					<a href="javascript: info('hidden');"><img src="{% static 'css/images/CERRAR.png' %}" alt="" class="Exit img-responsive" width="50" height="50"></a>
					

					<div id="contenido">
						<a href="#"><img src="{% static 'css/images/HISTORIA.png' %}"  alt=""  class="img-responsive"></a>
						<a href="#"><img src="{% static 'css/images/REGLAS.png' %}"  alt="" class="img-responsive"></a>
						<a href="#"><img src="{% static 'css/images/QUE_HAGO.png' %}"  alt="" class="img-responsive"></a>
					</div>


				</div>
			</div>
			
	</center>
	</div>
</div>


</body>
</html>