{% load staticfiles %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Fysistencia</title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{% static 'images/ICONO_APP.png' %}" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet"> 

	<!-- Latest compiled and minified CSS -->
	
	<link type="text/css" rel="stylesheet" href="{% static 'css/esperarPartida.css' %}"/>

	<style type="text/css">
		import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
	</style>

	
</head>
<body class="fondo">
<div id="US1">
	<img src="{% static 'images/USUARIO_PANTALLA_DE_ESPERA.png' %}"class="img-responsive" >
</div>
<div id="NAME">
	<img src="{% static 'images/NOMBRE_USUARIO.png' %}"class="img-responsive" >
</div>

</body>
</html>