.fondo{
	background-repeat: no-repeat;
 	background: url('../images/FONDO_PANTALLA_ESPERA_USUARIOS.png');
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;

}
#US1{
	width:40%;
	position: absolute;
	left: 9%;
	top: 12%;
	z-index: 0;
}
#NAME{
	width:40%;
	position: absolute;
	left: 15%;
	top: 77%;
	z-index: 1;
}
