@font-face {
	font-family: 'Alegraya Sans'
	src: url('../font/Alegraya_Sans');
}
body {
   overflow-x: hidden;
}
.fondo{
	background-repeat: no-repeat;
 	background: url('../images/FONDO_1PANTALLA_CONDIOS.png');
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;

}

#pinNum{
text-align:center;
font-family:'Alegraya Sans';
font-size: 80px;
color: red;
}

#fysis{
	width:40%;
	position: absolute;
	left: 50%;
	top: 63%;
	z-index: 0;
}
#btn1{
	width:30%;
	position: absolute;
	left: 53%;
	top: 8%;
	z-index: 1;

}
#btn2{
	width:30%;
	position: absolute;
	left: 53%;
	top: 38%;
	z-index: 1;

}
.thumbnail{
	background-color:transparent;
	border-radius:0%;
	border-color:transparent;
}
.btn,.btn-default{
	border-radius:0%;
	padding:0%;
	background-color:transparent;
	border-color:transparent;
	border: none;
	display: inline-block;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
	background-color:transparent;
	border-color:transparent;
	border: none;
	display: inline-block;
}
.btn:hover, .btn:focus, .btn, .btn:active, .btn.active, .open>.dropdown-toggle.btn-default{
	background-color:transparent;
	border-color:transparent;
	border: none;
	display: inline-block;
}

#backgroundVentana, #backgroundVentana2, #backgroundVentana3, #backgroundVentana4, #background-ventana-reglas, #backgroundVentanaConfig{
	position: fixed;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index:1;
	visibility: hidden;
}

#ventana, #ventana2, #ventana3, #ventanaConfig{
	background-image: url('../images/grande.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position:absolute;
	width: 50%;
	height: 100%;
	top:48%;
	left: 57%;
	margin-top: -17%;
	margin-left: -30%;
}

#ventana4, #ventana-reglas{
	background-image: url('../images/apaisada.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position:absolute;
	width: 70%;
	height: 100%;
	top:48%;
	left: 45%;
	margin-top: -17%;
	margin-left: -30%;
}
#formularioCrear{
	width: 70%;
	text-align: center;
	margin-top: 17%;
	margin-left: 15%;
}

#formulario{
	width: 70%;
	text-align: center;
	margin-top: 32%;
	margin-left: 15%;
}

#siguiente{
	width: 40%;
	text-align: center;
	margin-top: 16%;
	margin-left: 30%;
}

#siguiente2{
	width: 40%;
	text-align: center;
	margin-top: 16%;
	margin-left: 0%;
}
.Exit{

	margin-top: 0%;
	margin-left: 90%;
	position: absolute;
	z-index:0;
}

#contenido, #contenidoConfig{
	text-align: center;
	width: 50%;
	margin-top: 20%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 15%;
}

#contenido2{
	text-align: center;
	width: 100%;
	margin-top: 0%;
	margin-left: 16%;
	margin-right: 10%;
	margin-bottom: 15%;
}

.texto{
	width: 100%;
	font-family: 'Alegreya Sans';
	font-size:130%;
}

div#scroll {
    width: 170%;
    height: 35%;
    overflow: auto;

}
div#scroll::-webkit-scrollbar-track{
	background-image: url('../images/SCROLL_LINEA.png');
	background-repeat: no-repeat;
}

div#scroll::-webkit-scrollbar{
	width: 20px;
	background-repeat: no-repeat;
}

div#scroll::-webkit-scrollbar-thumb{
	position:center;
	background: url('../images/BARRA.png');
	background-repeat: no-repeat;
}
#prueba {
    background: url(../images/botonVacio.png);
}
