{% load staticfiles %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>CrearPartida</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{% static 'css/images/ICONO_APP.png' %}" type="image/png">
	<!-- Latest compiled and minified CSS -->
	
	<link type="text/css" rel="stylesheet" href="{% static 'css/ultimaapp.css' %}"/>
	<script type="text/javascript">
	function desplegar(_valor){
		document.getElementById("backgroundVentana").style.visibility=_valor;
	}
	</script>
	
</head>
<body class="fondo">
<div class="row">
	<div class="col-xs-2">
		<a class="btn btn-default" type="button" href="#" style="padding-top:10px;padding-left:10px;">
		<img src="{% static 'css/images/AJUSTES.png' %}" width="50" height="50">
		</a><br>
		<a class="btn btn-default" type="button" href="#" style="padding-top:10px;padding-left:10px;">
		<img src="{% static 'css/images/INFO.png' %}" width="50" height="50">
		</a>
	</div>
	<div class="col-xs-8">
	<button><a href="javascript:desplegar('visible');">Desplegar</a></button>
		<div id="backgroundVentana">
			<div id= "ventana">
				<a href="javascript: desplegar('hidden');"><img src="{% static 'css/images/CERRAR.png' %}" alt="" class="Exit" width="50" height="50"></a>
					<div id="contenido">
						<input type="text" class="form-control" width="100">
						<a class="btn btn-default pin" type="button" href="#"><img src="{% static 'css/images/GENERAR_PIN.png' %}" width="170" height="80"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>